*{
    box-sizing: border-box;
}
:root {
    --font-size: 18px;
    --spacing-default: 3rem;
    --color-primary: #D2F306;
    --color-secondary: #FF7A00;
    --color-footer: #434342;
    font-size: var(--font-size);
}
h2{
    font-size: 40px;
    color: var(--color-primary);
    font-weight: bold;
}

h3{
    font-size: 30px;
    color: var(--color-secondary);
    font-weight: bold;
}

h4{
    font-size: 20px;
    color: #000;
    font-weight: bold;

}

.container{
    max-width: 1440px;
    margin:0 auto;
}

.columns {
    display: flex;
}

.columns__column {
    display: flex;
    flex: 1;
}

.columns__column_1 {
    display: flex;
    flex: 2;
    flex-direction: column;
}


/*CSS productlist*/

main{
    background-color: #212121;
}
p.path{
    color: #ffffff;
    padding-top: 40px;
}

.position_catalogue{
    margin-top: 40px;
}
button{
    display: inline-block;
    background-color: #212121;
    border-radius: 12px;
    border: solid var(--color-primary);
    text-align: center;
    font-size: var(--font-size);
    padding: 5px;
    width: 180px;
    height:45px;
    margin-right: 10px;
}
.position_button{
    display: flex;
    align-items: center;
}

p.main{
    color: var(--color-primary) ;
    font-weight: normal;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 15px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.cart{
    width: 454px;
    height: 586px;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart_img{
    width: 400px;
    height: 350px;
}

.cart_position{
    margin-bottom: 30px;
}

.pagination{
    color: var(--color-primary);
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/*CSS détail produit*/
.product_detail{
    background-color: #ffffff;
}
.title_product{
    background-color: var(--color-primary);
    margin-top: 150px;
    margin-bottom: 50px;
}

.color_title{
    color: #000000;
    text-align: center;
}
.border{
    border: solid #000000;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
.product_position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_change_page{
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    width: 347px;
    height:71px;
}

.description_product{
    padding: 40px ;
}

.add_cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}








/*CSS footer*/

.footer{
    background-color: var(--color-footer);
    height: 250px;
}

.columns__column_footer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.logo{
    width: 63px;
    height: 86.88px;
}

.img_footer{
    width:62px;
    height: 60px;
}



.columns_follow{
    margin-bottom: 40px;
    margin-top: 40px;
}


.columns_position{
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 50px;
}

.logo_position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 30px;
}

p.footer_1 {
    font-weight: bold;
    color: #ffffff;
    line-height: 20px;
}
