*{
    box-sizing: border-box;
}
:root {
    --font-size: 18px;
    --spacing-default: 3rem;
    --color-primary: #D2F306;
    --color-secondary: #FF7A00;
    --color-footer: #434342;
    font-size: var(--font-size);
}
h2{
    font-size: 40px;
    color: var(--color-primary);
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

.columns {
    display: flex;
}

.columns__column {
    display: flex;
    flex: 1;
}

.columns__column_1 {
    display: flex;
    flex: 2;
    flex-direction: column;
}

/*CSS productlist*/

main{
    background-color: #212121;
}
p.path{
    color: #ffffff;
}



p.main{
    color: var(--color-primary) ;
    font-weight: normal;
}

.wrapper{
    display: grid;
    grid
}


.outlineShadow{
    box-shadow: 0 1px 0 #000;
}













/*CSS footer*/

.footer{
    background-color: var(--color-footer);
    height: 250px;
}

.columns__column_footer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.logo{
    width: 63px;
    height: 86.88px;
}

.img_footer{
    width:62px;
    height: 60px;
}



.columns_follow{
    margin-bottom: 40px;
    margin-top: 40px;
}


.columns_position{
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 50px;
}

.logo_position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 30px;
}

p.footer_1 {
    font-weight: bold;
    color: #ffffff;
    line-height: 20px;
}
